In [121]:
mañana = [{
	"name": "Patricia",
	"id" :  "001"
},
{
	"name": "Nicole",
	"id" :  "002"
},
{
	"name": "Javier",
	"id" :  "003"
},
{
	"name": "Verónica",
	"id" :  "004"
},
{
	"name": "Guillermo",
	"id" :  "005"
},
{
	"name": "Pablo",
	"id" :  "006"
},
{
	"name": "Patricia",
	"id" :  "007"
},
{
	"name": "Patricia",
	"id" :  "008"
},

]

tarde =[
{
	"name": "Germán",
	"id" :  "001"
},
{
	"name": "Sara",
	"id" :  "002"
},
{
	"name": "Jorge",
	"id" :  "003"
},
{
	"name": "María",
	"id" :  "004"
},
{
	"name": "Alicia",
	"id" :  "005"
},
{
	"name": "Hernesto",
	"id" :  "006"
},]

In [122]:
mañana

[{'name': 'Patricia', 'id': '001'},
 {'name': 'Nicole', 'id': '002'},
 {'name': 'Javier', 'id': '003'},
 {'name': 'Verónica', 'id': '004'},
 {'name': 'Guillermo', 'id': '005'},
 {'name': 'Pablo', 'id': '006'},
 {'name': 'Patricia', 'id': '007'},
 {'name': 'Patricia', 'id': '008'}]

In [123]:
tarde

[{'name': 'Germán', 'id': '001'},
 {'name': 'Sara', 'id': '002'},
 {'name': 'Jorge', 'id': '003'},
 {'name': 'María', 'id': '004'},
 {'name': 'Alicia', 'id': '005'},
 {'name': 'Hernesto', 'id': '006'}]

## Ejercicio 1: 
### Agregar al curso de la tarde los siguiente lista de alumnos, recordad que no pueden tener los mismos id's:
###	new_students = ["Miguel", "Pedro", "Sandra"]
###	* Debe trabajarse con una lista dada

In [124]:
morning_list = ["Patricia", "Nicole", "Verónica", "Javier", "Guillermo", "Javier", "Pablo"]

In [125]:
evening_list = ["Germán", "Sara", "José", "Claudio", "Rubén", "Sandra"]

In [126]:
new_students = ["Miguel", "Pedro", "Sandra"]

In [127]:
int(mañana[-1]['id'])

8

In [128]:
def id_asigner(group, new_students):
    last_id = int(group[-1]['id'])
    for student in new_students:
        last_id += 1
        new_st_dict = {'name':student,'id':('00'+str(last_id)) if len(str(last_id))==1 else ('0'+str(last_id))}
        group.append(new_st_dict)

In [129]:
id_asigner(mañana, new_students)

In [130]:
mañana

[{'name': 'Patricia', 'id': '001'},
 {'name': 'Nicole', 'id': '002'},
 {'name': 'Javier', 'id': '003'},
 {'name': 'Verónica', 'id': '004'},
 {'name': 'Guillermo', 'id': '005'},
 {'name': 'Pablo', 'id': '006'},
 {'name': 'Patricia', 'id': '007'},
 {'name': 'Patricia', 'id': '008'},
 {'name': 'Miguel', 'id': '009'},
 {'name': 'Pedro', 'id': '010'},
 {'name': 'Sandra', 'id': '011'}]

## Ejercicio 2: 
### Crear una función que permita verificar que ningún id sea igual a otro

In [131]:
def id_controler(group):
    id_collector = []
    for student in group:
        if not student['id'] in id_collector:
            id_collector.append(student['id'])
        else:
            print(f'El id de {student} está ya asignado a un alumno.')
            return
    print('Todo correcto')

In [132]:
id_controler(mañana)

Todo correcto

## Ejercicio 4: 
### Agregar a los id de los alumnos por la mañana la letra "M" y a los alumnos por la tarde la letra "T"

In [133]:
for student in mañana:
    student['id'] += 'M'

In [134]:
mañana

[{'name': 'Patricia', 'id': '001M'},
 {'name': 'Nicole', 'id': '002M'},
 {'name': 'Javier', 'id': '003M'},
 {'name': 'Verónica', 'id': '004M'},
 {'name': 'Guillermo', 'id': '005M'},
 {'name': 'Pablo', 'id': '006M'},
 {'name': 'Patricia', 'id': '007M'},
 {'name': 'Patricia', 'id': '008M'},
 {'name': 'Miguel', 'id': '009M'},
 {'name': 'Pedro', 'id': '010M'},
 {'name': 'Sandra', 'id': '011M'}]

In [135]:
for student in tarde:
    student['id'] += 'T'

In [136]:
tarde

[{'name': 'Germán', 'id': '001T'},
 {'name': 'Sara', 'id': '002T'},
 {'name': 'Jorge', 'id': '003T'},
 {'name': 'María', 'id': '004T'},
 {'name': 'Alicia', 'id': '005T'},
 {'name': 'Hernesto', 'id': '006T'}]

## Ejercicio 5: 
### Crear una nueva lista con todos los estudiantes de Python

In [137]:
python_students = mañana + tarde

In [138]:
python_students

[{'name': 'Patricia', 'id': '001M'},
 {'name': 'Nicole', 'id': '002M'},
 {'name': 'Javier', 'id': '003M'},
 {'name': 'Verónica', 'id': '004M'},
 {'name': 'Guillermo', 'id': '005M'},
 {'name': 'Pablo', 'id': '006M'},
 {'name': 'Patricia', 'id': '007M'},
 {'name': 'Patricia', 'id': '008M'},
 {'name': 'Miguel', 'id': '009M'},
 {'name': 'Pedro', 'id': '010M'},
 {'name': 'Sandra', 'id': '011M'},
 {'name': 'Germán', 'id': '001T'},
 {'name': 'Sara', 'id': '002T'},
 {'name': 'Jorge', 'id': '003T'},
 {'name': 'María', 'id': '004T'},
 {'name': 'Alicia', 'id': '005T'},
 {'name': 'Hernesto', 'id': '006T'}]

## Ejercicio 6: 
### De la última lista creada dividir por género

In [139]:
course_1 = [{
	"name": "Patricia",
	"id" :  "1",
    "gender": "F"
},
{
	"name": "Nicole",
	"id" :  "2",
    "gender": "F"
},
{
	"name": "Javier",
	"id" :  "3",
    "gender": "M"
},
{
	"name": "Verónica",
	"id" :  "4",
    "gender": "F"
},
{
	"name": "Guillermo",
	"id" :  "5",
    "gender": "M"
},
{
	"name": "Pablo",
	"id" :  "6",
    "gender": "M"
},
{
	"name": "Patricia",
	"id" :  "7",
    "gender": "F"
},
{
	"name": "Patricia",
	"id" :  "8",
    "gender": "F"
},

]
course_2 =[
{
	"name": "Germán",
	"id" :  "1",
    "gender": "M"
},
{
	"name": "Sara",
	"id" :  "2",
    "gender": "F"
},
{
	"name": "Jorge",
	"id" :  "3",
    "gender": "M"
},
{
	"name": "María",
	"id" :  "4",
    "gender": "F"
},
{
	"name": "Alicia",
	"id" :  "5",
    "gender": "F"
},
{
	"name": "Hernesto",
	"id" :  "6",
    "gender": "M"
},]

In [140]:
course_1

[{'name': 'Patricia', 'id': '1', 'gender': 'F'},
 {'name': 'Nicole', 'id': '2', 'gender': 'F'},
 {'name': 'Javier', 'id': '3', 'gender': 'M'},
 {'name': 'Verónica', 'id': '4', 'gender': 'F'},
 {'name': 'Guillermo', 'id': '5', 'gender': 'M'},
 {'name': 'Pablo', 'id': '6', 'gender': 'M'},
 {'name': 'Patricia', 'id': '7', 'gender': 'F'},
 {'name': 'Patricia', 'id': '8', 'gender': 'F'}]

In [141]:
course_2

[{'name': 'Germán', 'id': '1', 'gender': 'M'},
 {'name': 'Sara', 'id': '2', 'gender': 'F'},
 {'name': 'Jorge', 'id': '3', 'gender': 'M'},
 {'name': 'María', 'id': '4', 'gender': 'F'},
 {'name': 'Alicia', 'id': '5', 'gender': 'F'},
 {'name': 'Hernesto', 'id': '6', 'gender': 'M'}]

In [142]:
python_students = course_1+course_2
python_students

[{'name': 'Patricia', 'id': '1', 'gender': 'F'},
 {'name': 'Nicole', 'id': '2', 'gender': 'F'},
 {'name': 'Javier', 'id': '3', 'gender': 'M'},
 {'name': 'Verónica', 'id': '4', 'gender': 'F'},
 {'name': 'Guillermo', 'id': '5', 'gender': 'M'},
 {'name': 'Pablo', 'id': '6', 'gender': 'M'},
 {'name': 'Patricia', 'id': '7', 'gender': 'F'},
 {'name': 'Patricia', 'id': '8', 'gender': 'F'},
 {'name': 'Germán', 'id': '1', 'gender': 'M'},
 {'name': 'Sara', 'id': '2', 'gender': 'F'},
 {'name': 'Jorge', 'id': '3', 'gender': 'M'},
 {'name': 'María', 'id': '4', 'gender': 'F'},
 {'name': 'Alicia', 'id': '5', 'gender': 'F'},
 {'name': 'Hernesto', 'id': '6', 'gender': 'M'}]

In [143]:
def gender_divided(group):
    female = []
    male = []
    for student in group:
        if student['gender'] == 'F':
            female.append(student)
        else:
            male.append(student)
    return {'male': male, 'female':female}

In [144]:
divided_python_students = gender_divided(python_students)
for gender in divided_python_students:
    print(f'\n{gender.upper()}\n')
    for student in divided_python_students[gender]:
        print(student['name'])

MALE

Javier
Guillermo
Pablo
Germán
Jorge
Hernesto

FEMALE

Patricia
Nicole
Verónica
Patricia
Patricia
Sara
María
Alicia

## Ejercicio 7: 
### Crear una función que además de agregar la clave courses a cada uno de los estudiantes, se le pueda indicar uno de los cursos matriculados

In [145]:
for student in python_students:
    student['courses'] = []

In [146]:
python_students

[{'name': 'Patricia', 'id': '1', 'gender': 'F', 'courses': []},
 {'name': 'Nicole', 'id': '2', 'gender': 'F', 'courses': []},
 {'name': 'Javier', 'id': '3', 'gender': 'M', 'courses': []},
 {'name': 'Verónica', 'id': '4', 'gender': 'F', 'courses': []},
 {'name': 'Guillermo', 'id': '5', 'gender': 'M', 'courses': []},
 {'name': 'Pablo', 'id': '6', 'gender': 'M', 'courses': []},
 {'name': 'Patricia', 'id': '7', 'gender': 'F', 'courses': []},
 {'name': 'Patricia', 'id': '8', 'gender': 'F', 'courses': []},
 {'name': 'Germán', 'id': '1', 'gender': 'M', 'courses': []},
 {'name': 'Sara', 'id': '2', 'gender': 'F', 'courses': []},
 {'name': 'Jorge', 'id': '3', 'gender': 'M', 'courses': []},
 {'name': 'María', 'id': '4', 'gender': 'F', 'courses': []},
 {'name': 'Alicia', 'id': '5', 'gender': 'F', 'courses': []},
 {'name': 'Hernesto', 'id': '6', 'gender': 'M', 'courses': []}]

In [147]:
for student in python_students:
    student['courses'].append('Python')

In [148]:
python_students

[{'name': 'Patricia', 'id': '1', 'gender': 'F', 'courses': ['Python']},
 {'name': 'Nicole', 'id': '2', 'gender': 'F', 'courses': ['Python']},
 {'name': 'Javier', 'id': '3', 'gender': 'M', 'courses': ['Python']},
 {'name': 'Verónica', 'id': '4', 'gender': 'F', 'courses': ['Python']},
 {'name': 'Guillermo', 'id': '5', 'gender': 'M', 'courses': ['Python']},
 {'name': 'Pablo', 'id': '6', 'gender': 'M', 'courses': ['Python']},
 {'name': 'Patricia', 'id': '7', 'gender': 'F', 'courses': ['Python']},
 {'name': 'Patricia', 'id': '8', 'gender': 'F', 'courses': ['Python']},
 {'name': 'Germán', 'id': '1', 'gender': 'M', 'courses': ['Python']},
 {'name': 'Sara', 'id': '2', 'gender': 'F', 'courses': ['Python']},
 {'name': 'Jorge', 'id': '3', 'gender': 'M', 'courses': ['Python']},
 {'name': 'María', 'id': '4', 'gender': 'F', 'courses': ['Python']},
 {'name': 'Alicia', 'id': '5', 'gender': 'F', 'courses': ['Python']},
 {'name': 'Hernesto', 'id': '6', 'gender': 'M', 'courses': ['Python']}]